<a href="https://colab.research.google.com/github/Deepsphere-AI/DataAnalyticsTrainingBatch4/blob/main/Python/TeachingFiles/DSAI_LVA_Unit_3_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#~~~~~~~~~~~~~~~~~~~~~~~~~
# pandas - Example 1 - Pandas
# What is Pandas?
#  Pandas is a Python library used for working with data sets.
#  It has functions for analyzing, cleaning, exploring, and manipulating data.
#  The name "Pandas" has a reference to both "Panel Data", and "Python Data Analysis" and was created by Wes McKinney in 2008.
#   Pandas gives you answers about the data. Like:
#       Correlation between two or more columns
#       Average value
#       Max value
#       Min value
#~~~~~~~~~~~~~~~~~~~~~~~~~
import pandas
mydataset = {  ## What data structure is this?
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}
myvar_PDF = pandas.DataFrame(mydataset)
print(myvar_PDF)

import pandas as pd
mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}
myvar_PDF = pd.DataFrame(mydataset)
#print(myvar_PDF)
#print(pd.__version__) #print(pd.__version__)

In [ ]:
#~~~~~~~~~~~~~~~~~~~~~~~~~
# pandas - Example 1.1 - Create an Empty DataFrame
#
#~~~~~~~~~~~~~~~~~~~~~~~~~

import pandas as pd
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [ ]:
#~~~~~~~~~~~~~~~~~~~~~~~~~
# pandas - Example 1.2 - Create with a List and Columns Value
#
#~~~~~~~~~~~~~~~~~~~~~~~~~
import pandas as pd
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data) # No Names Given to the Column
print(df)
df = pd.DataFrame(data,columns=['Customer Name','Customer Age'])
#print(df)

In [ ]:
#~~~~~~~~~~~~~~~~~~~~~~~~~
# pandas - Example 1.3 - Create with a List and Columns Value and Data Type
##~~~~~~~~~~~~~~~~~~~~~~~~~
import pandas as pd
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'],dtype=float) # There will be a Type Cost Error , Why?
print(df)

In [ ]:
#~~~~~~~~~~~~~~~~~~~~~~~~~
# pandas - Example 1.4 - Create a DataFrame from Dict of ndarrays / Lists
##~~~~~~~~~~~~~~~~~~~~~~~~~
import pandas as pd
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]} # What will happend it the List element's doesn't match
df = pd.DataFrame(data)
print(df)

    Name  Age
0    Tom   28
1   Jack   34
2  Steve   29
3  Ricky   42

In [ ]:
#~~~~~~~~~~~~~~~~~~~~~~~~~
# pandas - Example 1.5 - create an indexed DataFrame using arrays.
##~~~~~~~~~~~~~~~~~~~~~~~~~
import pandas as pd
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data, index=['Row #1 ','Row #2 ','Row #3 ','Row #4 ']) # Indexed Data Frame
#df = pd.DataFrame(data)
print(df)

          Name  Age
Row #1     Tom   28
Row #2    Jack   34
Row #3   Steve   29
Row #4   Ricky   42

In [ ]:
#~~~~~~~~~~~~~~~~~~~~~~~~~
# pandas - Example 1.6 - Create a DataFrame from List of Dicts
##~~~~~~~~~~~~~~~~~~~~~~~~~
import pandas as pd
data = [{'a': 1, 'b': 2, 'c': 3},{'a': 5, 'b': 10, 'c': 20}]
df = pd.DataFrame(data)
print(df)

   a   b   c
0  1   2   3
1  5  10  20

In [ ]:
#~~~~~~~~~~~~~~~~~~~~~~~~~
# pandas - Example 1.6 - NaN (Not a Number) is appended in missing areas.
##~~~~~~~~~~~~~~~~~~~~~~~~~
import pandas as pd
data = [{'KEY1': 1, 'KEY2': 2},{'KEY1': 5, 'KEY2': 10, 'KEY3': 20}]
df = pd.DataFrame(data, index=['first-Row', 'second-Row']) ## In ROW 1, there is no KEY 3
print(df)

            KEY1  KEY2  KEY3
first-Row      1     2   NaN
second-Row     5    10  20.0

In [ ]:
#~~~~~~~~~~~~~~~~~~~~~~~~~
# pandas - Example 1.7 - create a DataFrame with a list of dictionaries, row indices, and column indices.
##~~~~~~~~~~~~~~~~~~~~~~~~~
import pandas as pd
data = [{'KEY1': 1, 'KEY2': 2},{'KEY1': 5, 'KEY2': 10, 'KEY3': 20}]

#With two column indices, values same as dictionary keys
df1 = pd.DataFrame(data, index=['first-Row', 'second-Row'], columns=['KEY1', 'KEY2','KEY3'])

#With two column indices with one index with other name
df2 = pd.DataFrame(data, index=['first=Row', 'second-Row'], columns=['KEY1', 'KEY4']) # There is no such KEY4

print(df1)
print('~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~')
print(df2)

In [ ]:
#~~~~~~~~~~~~~~~~~~~~~~~~~
# pandas - Creating a Series.
##~~~~~~~~~~~~~~~~~~~~~~~~~
import pandas as pd
x = pd.Series()
print (x)

In [ ]:
#~~~~~~~~~~~~~~~~~~~~~~~~~
# pandas - Creating a Series.  numpy as a Source
##~~~~~~~~~~~~~~~~~~~~~~~~~
import pandas as pd
import numpy as np
info = np.array(['P','a','n','d','a','s'])
a = pd.Series(info)
print(a)

In [ ]:
#~~~~~~~~~~~~~~~~~~~~~~~~~
# pandas - Creating a Series.  using DICT as a Source
##~~~~~~~~~~~~~~~~~~~~~~~~~
import pandas as pd
import numpy as np
info = {'KEY1' : 0., 'KEY2' : 1., 'KEY3' : 2.}
a = pd.Series(info)
print (a)

In [ ]:
#~~~~~~~~~~~~~~~~~~~~~~~~~
# pandas - Creating a Series.  using Scalar as a Source
##~~~~~~~~~~~~~~~~~~~~~~~~~
import pandas as pd
import numpy as np
x = pd.Series(4, index=[0, 1, 2, 3])
print (x)

In [ ]:
#~~~~~~~~~~~~~~~~~~~~~~~~~
# pandas - Creating a Series.  List with Index
##~~~~~~~~~~~~~~~~~~~~~~~~~
import pandas as pd
import numpy as np
data = np.array(['a','b','c','d'])
s = pd.Series(data,index=[100,101,102,103])
print(s)

In [ ]:
#~~~~~~~~~~~~~~~~~~~~~~~~~
# pandas - Example 1.7 - Create a DataFrame from Dict of Series
##~~~~~~~~~~~~~~~~~~~~~~~~~

import pandas as pd

d = {'STOCK-INDEX-KEY-1' : pd.Series([1, 2, 3], index=['INDEX-1', 'INDEX-2', 'INDEX-3']),
     'STOCK-INDEX-KEY-2' : pd.Series([1, 2, 3, 4], index=['INDEX-1', 'INDEX-2', 'INDEX-3', 'INDEX-4'])}

df = pd.DataFrame(d)
print(df)

In [ ]:
#~~~~~~~~~~~~~~~~~~~~~~~~~
# pandas - Example 1.7 - Column Selection
##~~~~~~~~~~~~~~~~~~~~~~~~~
import pandas as pd

d = {'KEY-1' : pd.Series([1, 2, 3], index=['ROW1', 'ROW2', 'ROW3']),
   'KEY-2' : pd.Series([1111, 2222, 3333, 4444], index=['ROW1', 'ROW2', 'ROW3', 'ROW4'])}

df = pd.DataFrame(d)
#print(df ['COLUMN-ONE'])
print('~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~`')
print(df ['KEY-1']) # Column Selection , Switch between KEY-1

In [ ]:
#~~~~~~~~~~~~~~~~~~~~~~~~~
# pandas - Example 2 - Series?
# A Pandas Series is like a column in a table.
#~~~~~~~~~~~~~~~~~~~~~~~~~
import pandas as pd
a = [1111, 77777, 22222,44444,55555]
pds = pd.Series(a)
print(pds)
print('###################')
print(a[0]) #Return the first value of the Series:

In [ ]:
#~~~~~~~~~~~~~~~~~~~~~~~~~
# pandas - Example 3 - Create Labels
# Create your own labels:
#~~~~~~~~~~~~~~~~~~~~~~~~~
import pandas as pd
a = [11111, 7777, 22222, 44444,55555]
myvar = pd.Series(a, index = ["Index 1", "Index 2", "Index 3","Index 4","Index 5"])
print(myvar)
print('+===================+')
print(myvar["Index 1"])

In [ ]:
#~~~~~~~~~~~~~~~~~~~~~~~~~
# pandas - Example 4 - Key/Value Objects as Series
# Key/Value Objects as Series
#~~~~~~~~~~~~~~~~~~~~~~~~
import pandas as pd
calories = {"day1": 4244444, "day2": 385555, "day3": 396666} #Create a simple Pandas Series from a dictionary:
myvar = pd.Series(calories) # I want to access all Index - That's why I did specifiy the Index
#print(myvar)

myvar = pd.Series(calories, index = ["day1", "day1", "day1", "day4"])
print(myvar)

In [ ]:
#~~~~~~~~~~~~~~~~~~~~~~~~~
# pandas - Example 5 - Create a DataFrame from two Series:
# Create a DataFrame from two Series:
#~~~~~~~~~~~~~~~~~~~~~~~~
import pandas as pd
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}
myvar = pd.DataFrame(data)
print(myvar)

In [ ]:
#~~~~~~~~~~~~~~~~~~~~~~~~~
# pandas - Example 6 - Locate Row
# Locate Row
# 01/02/2024
#~~~~~~~~~~~~~~~~~~~~~~~~
import pandas as pd
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}
#load data into a DataFrame object:
df = pd.DataFrame(data)
#print(df)
print("################")
print(df.loc[1]) #refer to the row index: Return row 0:
print("################")
print(df.loc[[0, 1]]) #Return row 0 and 1:

In [ ]:
#~~~~~~~~~~~~~~~~~~~~~~~~~
# pandas - Example 7 - Pandas Read CSV
# Pandas Read CSV
# Set Max Rows
#~~~~~~~~~~~~~~~~~~~~~~~~

import pandas as pd
df = pd.read_csv('/content/sample_data/UNIT3LVADSAIEMPDATAv1.csv')
#print(df.to_string()) #use to_string() to print the entire DataFrame.

print(pd.options.display.max_rows)  # What is the dault max value (max rows) of a data frame
                 ### ~~~~ You can check your system's maximum rows with the pd.options.display.max_rows statement.
#pd.options.display.max_rows = 400
#print(pd.options.display.max_rows)
#print(df)
#print(df.to_string())

In [ ]:
#~~~~~~~~~~~~~~~~~~~~~~~~~
# pandas - Example 7.1 - Reading CSV Files with csv lib
# Reading CSV Files with csv lib
#~~~~~~~~~~~~~~~~~~~~~~~~

import csv
with open('/content/sample_data/UNIT3LVADSAIEMPDATAv1.csv', 'r') as file:
    reader = csv.reader(file)
    for row in reader:
        print(row)

In [ ]:
#~~~~~~~~~~~~~~~~~~~~~~~~~
# pandas - Example 7.2 - Leveraging "numpy" for Reading CSV Files
# Leveraging numpy for Reading CSV Files
#~~~~~~~~~~~~~~~~~~~~~~~~

import numpy as np
data = np.genfromtxt('/content/sample_data/UNIT3LVADSAIEMPDATAv1.csv', delimiter=',')
print(data)
## Question - Why is the data displayed in format different than the csv.reader

In [ ]:
#~~~~~~~~~~~~~~~~~~~~~~~~~
# pandas - Example 7.3 - Handling Missing Values
# Handling Missing Values
# Missing data can be a common issue when reading CSV files.
# By default, pandas recognizes certain values like ‘NA’ or ‘NULL’ as missing data.
#~~~~~~~~~~~~~~~~~~~~~~~~
import pandas as pd
df = pd.read_csv('/content/sample_data/UNIT3LVADSAIEMPDATAv1.csv', na_values=['NA', 'NULL', 'Missing'])
print(df)
## How to replace the defult "NaN" value to someting busienss focused values like (0000)

In [ ]:
#~~~~~~~~~~~~~~~~~~~~~~~~~
# pandas - Example 7.4 - Dealing with Incorrect Data Types
# Dealing with Incorrect Data Types
#~~~~~~~~~~~~~~~~~~~~~~~~
import pandas as pd
df = pd.read_csv('/content/sample_data/UNIT3LVADSAIEMPDATAv1.csv', dtype={'COL1': int, 'COL2': float,'ECOMM': float})
print(df)

In [ ]:
#~~~~~~~~~~~~~~~~~~~~~~~~~
# pandas - Example 7.5 - Utilizing header Parameter
# Utilizing header Parameter
# In this case, the first row (0th index) of the CSV file is used as the column names of the DataFrame.
#~~~~~~~~~~~~~~~~~~~~~~~~
import pandas as pd
df = pd.read_csv('/content/sample_data/UNIT3LVADSAIEMPDATAv1.csv', header=1) ## Set to  "0", "1"
print(df)

In [ ]:
#~~~~~~~~~~~~~~~~~~~~~~~~~
# pandas - Example 7.6 - usecols Parameter
# only ‘EID’ and ‘ESAL’ from the CSV file are read into the DataFrame.
#~~~~~~~~~~~~~~~~~~~~~~~~
import pandas as pd

df = pd.read_csv('/content/sample_data/UNIT3LVADSAIEMPDATAv1.csv', usecols=['EMPLOYEE_ID', 'HIRE_DATE'])
#df = pd.read_csv('/content/sample_data/UNIT3LVADSAIEMPDATAv1.csv')
print(df)

In [ ]:
#~~~~~~~~~~~~~~~~~~~~~~~~~
# pandas - Example 7.7 - index_col Parameter
# ‘Column1’ from the CSV file is used as the index of the DataFrame
#~~~~~~~~~~~~~~~~~~~~~~~~
import pandas as pd

df = pd.read_csv('/content/sample_data/UNIT3LVADSAIEMPDATAv1.csv', index_col='EMPLOYEE_ID') # See the Index
# df = pd.read_csv('/content/sample_data/UNIT3LVADSAIEMPDATAv1.csv') # See the Index
print(df)

In [ ]:
#~~~~~~~~~~~~~~~~~~~~~~~~~
#~~~~~~~~~~~~~~~~~~~~~~~~~
# pandas - Example 8 - Exercise
# Pandas Read CSV
#~~~~~~~~~~~~~~~~~~~~~~~~
#~~~~~~~~~~~~~~~~~~~~~~~~~
# [[1]] - Instead of selecting all columns in the file, select only certain columns
# [[2]] - In the case of NULL values, set the columns to a default value
# [[3]] - Add +/- to two columns (ex: order amount - order discount)
# [[4]] - Change the display order according to business requirements instead of displaying as it is in the file
# [[5]] - Display only the columns with string values
# [[6]] - Display only employees belonging to department 100 in an employee CSV file using a Python data frame
# [[7] - Using a Python data frame, calculate employee total compensation as an added column (the column does not exist in the employee data CSV file).
#        Salary plus commission equals total compensation.
#
##~~~~~~~~~~~~~~~~~~~~~~~~~
##~~~~~~~~~~~~~~~~~~~~~~~~~

In [ ]:
#~~~~~~~~~~~~~~~~~~~~~~~~~
# pandas - Example 9 - Pandas Read JSON
# JSON = JSON stands for JavaScript Object Notation
# JSON is an open standard file format and data interchange format that uses human-readable text to store and
#     transmit data objects consisting of attribute–value pairs and arrays.
#     It is a common data format with diverse uses in electronic data interchange, including that of web applications with servers
#~~~~~~~~~~~~~~~~~~~~~~~~
import pandas as pd
data = {
  "Duration":{
    "0":60,
    "1":60,
    "2":60,
    "3":45,
    "4":45,
    "5":60
  },
  "Pulse":{
    "0":110,
    "1":117,
    "2":103,
    "3":109,
    "4":117,
    "5":102
  },
  "Maxpulse":{
    "0":130,
    "1":145,
    "2":135,
    "3":175,
    "4":148,
    "5":127
  },
  "Calories":{
    "0":409,
    "1":479,
    "2":340,
    "3":282,
    "4":406,
    "5":300
  }
}
df = pd.DataFrame(data)
print(df)

   Duration  Pulse  Maxpulse  Calories
0        60    110       130       409
1        60    117       145       479
2        60    103       135       340
3        45    109       175       282
4        45    117       148       406
5        60    102       127       300

In [ ]:
#~~~~~~~~~~~~~~~~~~~~~~~~~
#~~~~~~~~~~~~~~~~~~~~~~~~~
# pandas - Example 10 - Pandas Read JSON
# Pandas Read JSON
#~~~~~~~~~~~~~~~~~~~~~~~~
#~~~~~~~~~~~~~~~~~~~~~~~~~
import pandas as pd
df = pd.read_json('/content/sample_data/UNIT3LVADSAI-WEBUSER.json')
print(df.to_string())

                    user_id              email            name given_name family_name nickname        last_ip  logins_count                       created_at                       updated_at                last_login  email_verified
0  583c3ac3f38e84297c002546      test@test.com   test@test.com      Hello        Test     test  94.121.163.63          15.0 2016-11-28 14:10:11.338000+00:00 2016-12-02 01:17:29.310000+00:00  2016-12-02T01:17:29.310Z            True
1  583c5484cb79a5fe593425a9     test1@test.com  test1@test.com     Hello1       Test1    test1  94.121.168.53           1.0 2016-11-28 16:00:04.209000+00:00 2016-11-28 16:00:47.203000+00:00  2016-11-28T16:00:47.203Z            True
2  583c57672c7686377d2f66c9        aaa@aaa.com     aaa@aaa.com       John       Dough      aaa  94.121.168.53           2.0 2016-11-28 16:12:23.777000+00:00 2016-11-28 16:12:52.353000+00:00  2016-11-28T16:12:52.353Z            True
3  5840b954da0529cd293d76fe            a@a.com         a@a.com       Jane       Dough        a  94.121.163.63           3.0 2016-12-01 23:59:16.473000+00:00 2016-12-01 23:59:53.474000+00:00  2016-12-01T23:59:53.474Z            True
4  584a9d13e808bcf75f05f580  test9999@test.com             NaN      Dummy        User      NaN            NaN           NaN 2016-12-09 12:01:23.787000+00:00 2016-12-09 12:01:23.787000+00:00                       NaN           False