<a href="https://colab.research.google.com/github/Deepsphere-AI/DataAnalyticsTrainingBatch4/blob/main/Python/TeachingFiles/DSSAI_LVA_EDA_Examples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
## ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
## Pandas DataFrame aggregate() Method
## ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
import pandas as pd
import warnings as wr
wr.filterwarnings('ignore')
data = {
  "KEY1": [50, 40, 30],
  "KEY2": [300, 1112, 42]
}

df = pd.DataFrame(data)
#df.shape
#print(df)
#vAR_df = df.aggregate(["sum"])
#vAR_df = df.aggregate(["min"])
#vAR_df = df.aggregate(["max"])
print(df.mean(skipna = False)) # Skip NaN values , or Missing Values
print(vAR_df)

In [ ]:
## ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
## skipna=True and skipna=False
## ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
import pandas as pd
import warnings as wr
wr.filterwarnings('ignore')

# create a sample dataframe with NaN values
df = pd.DataFrame({
    'KEY1': [1, 2, 3, 4, 5, 6],
    'KEY2': [7, 8, 9, 10, 11, 12],
    'KEY3': [13, 14, None, 16, 17, 18],
    'KEY4': [19, None, 21, 22, 23, 24],
    'KEY5': [25, 26, 27, 28, None, 30]
})
#print(df.shape)
# calculate the average of columns KEY1, KEY2, and KEY3, ignoring NaN values
avg_True = df[['KEY1', 'KEY2', 'KEY3']].mean(skipna=True)
avg_False = df[['KEY1', 'KEY2', 'KEY3']].mean(skipna=False)

#print the result
print(avg_True)
print("----------------------\n")
print(avg_False)

In [ ]:
## ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
## nanmean() with NaN values
## ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
import numpy as np
import warnings as wr
wr.filterwarnings('ignore')
# create a sample numpy array with NaN values
df = pd.DataFrame({
    'KEY1': [1, 2, 3, 4, 5, 6],
    'KEY2': [7, 8, 9, 10, 11, 12],
    'KEY3': [13, 14, None, 16, 17, 18],
    'KEY4': [19, None, 21, 22, 23, 24],
    'KEY5': [25, 26, 27, 28, None, 30]
})
# calculate the average of columns 0, 1, and 2, ignoring NaN values
avg = np.nanmean(df[['KEY1', 'KEY2', 'KEY3']])
avg = np.nanmean(df[['KEY1', 'KEY2', 'KEY3']], axis=0)
avg = np.nanmean(df[['KEY1', 'KEY2', 'KEY3']], axis=1)

# print the result
print(avg)

In [ ]:
## ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
## nanmean() - Custom Aggregate Function
## ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
import numpy as np
import warnings as wr
wr.filterwarnings('ignore')
# create a sample numpy array with NaN values
df = pd.DataFrame({
    'KEY1': [1, 2, 3, 4, 5, 6],
    'KEY2': [7, 8, 9, 10, 11, 12],
    'KEY3': [13, 14, None, 16, 17, 18],
    'KEY4': [19, None, 21, 22, 23, 24],
    'KEY5': [25, 26, 27, 28, None, 30]
})

# Custom Aggregate Function
def custom_mean(column):
    values = [val for val in column if not np.isnan(val)]
    return sum(values) / len(values) if len(values) > 0 else np.nan

# Calling Cusom Function
avg = df.apply(custom_mean, axis=1)
print(avg)

In [ ]:
## ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
## Pandas DataFrame aggregate() Method -  SUM on a Selected Column
## ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
import pandas as pd
import warnings as wr
wr.filterwarnings('ignore')
vAR_Training = {
    'COURSES':["Spark","PySpark","Hadoop","Python","PySpark","Spark"],
    'COURSES-FEE' :[20000,25000,26000,22000,24000,35000],
    'COURSES-DURATION':['30day','40days','35days','40days','60days','60days'],
    'COURSES-DSICOUNT':[1000,2300,1200,2500,2000,2000]
              }
df = pd.DataFrame(vAR_Training)
print("Create DataFrame:\n \n", df)

# Using Aggregate Function on DataFrame
vAR_sum = df[['COURSES-FEE','COURSES-DSICOUNT']].aggregate('min')
print(vAR_sum)

In [ ]:
## ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
## Pandas DataFrame aggregate() Method # Use DataFrame.groupby() Function
## ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
import pandas as pd
vAR_Training  = {
    'COURSES':["Spark","PySpark","Hadoop","Python","PySpark","Spark"],
    'COURSES-FEE' :[20000,25000,26000,22000,24000,35000],
    'COURSES-DURATION':['30day','40days','35days','40days','60days','60days'],
    'COURSES-DSICOUNT':[1000,2300,1200,2500,2000,2000]
              }
df = pd.DataFrame(vAR_Training)

vAR_sum = df.groupby('COURSES')['COURSES-FEE','COURSES-DSICOUNT'].aggregate('sum')
print(vAR_sum)

In [ ]:
## ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
## Pandas DataFrame aggregate() Method # Groupby multiple columns & multiple aggregations
## ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
import pandas as pd
vAR_Training  = {
    'COURSES':["Spark","PySpark","Hadoop","Python","PySpark","Spark"],
    'COURSES-FEE' :[20000,25000,26000,22000,24000,35000],
    'COURSES-DURATION':['30day','40days','35days','40days','60days','60days'],
    'COURSES-DSICOUNT':[1000,2300,1200,2500,2000,2000]
              }
df = pd.DataFrame(vAR_Training)
# Groupby multiple columns & multiple aggregations
result = df.groupby('COURSES').aggregate({'COURSES-DURATION':'count','COURSES-FEE':['min','max']})
print(result)

In [ ]:
## ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
## Pandas DataFrame aggregate() Method # Groupby multiple columns & multiple aggregations
## ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
import pandas as pd
vAR_Training  = {
    'COURSES':["Spark","PySpark","Hadoop","Python","PySpark","Spark"],
    'COURSES-FEE' :[20000,25000,26000,22000,24000,35000],
    'COURSES-DURATION':['30day','40days','35days','40days','60days','60days'],
    'COURSES-DSICOUNT':[1000,2300,1200,2500,2000,2000]
              }
df = pd.DataFrame(vAR_Training)

print("# Using Aggregate Functions on Entire DataFrame \n")
result = df[['COURSES-FEE','COURSES-DSICOUNT']].aggregate('sum')
print(result)
print("~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ \n")


print("# Use DataFrame.group() Function \n")
result = df.groupby('COURSES')['COURSES-FEE','COURSES-DSICOUNT'].aggregate('sum')
print(result)
print("~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ \n")


print("# Using Aggregate Function on Series \n")
value = df['COURSES-FEE'].aggregate('sum')
print(value)
print("~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ \n")


print("# Using groupby() and aggreaget() \n")
result = df.groupby('COURSES').aggregate('sum')
print(result)
print("~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ \n")


print("# Using groupby() and aggreaget() \n")
result = df.groupby('COURSES')['COURSES-FEE','COURSES-DSICOUNT'].aggregate('sum')
print(result)
print("~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ \n")


print("# Alternate way \n")
result = df[['COURSES','COURSES-FEE','COURSES-DSICOUNT']].groupby('COURSES').aggregate('sum')
print(result)
print("~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ \n")


print("# Directly using sum() function \n")

result = df.groupby('COURSES').sum()
print(result)
print("~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ \n")


print(" # Groupby & multiple aggregations \n")
result = df.groupby('COURSES')['COURSES-FEE'].aggregate(['min','max'])
print(result)
print("~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ \n")


print(" # Groupby multiple columns & multiple aggregations \n")
result = df.groupby('COURSES').aggregate({'COURSES-DSICOUNT':'count','COURSES-FEE':['min','max']})
print(result)
print("~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ \n")

In [ ]:
## ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
## EDA Examples - Simple
## ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

#Load the required libraries
import pandas as pd

#Load the data
df = pd.read_csv('/content/sample_data/UNIT3LVADSAIEMPDATAv1.csv')
#View the data
#df.head()
#Basic information
df.info()
#Describe the data
#df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75 entries, 0 to 74
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   EMPLOYEE_ID     75 non-null     int64
 1   FIRST_NAME      75 non-null     object
 2   LAST_NAME       75 non-null     object
 3   GENDER          75 non-null     object
 4   EMAIL           75 non-null     object
 5   PHONE_NUMBER    75 non-null     object
 6   HIRE_DATE       75 non-null     object
 7   JOB_ID          75 non-null     object
 8   SALARY          75 non-null     int64
 9   COMMISSION_PCT  75 non-null     object
 10  MANAGER_ID      75 non-null     object
 11  DEPARTMENT_ID   75 non-null     int64
dtypes: int64(3), object(9)
memory usage: 7.2+ KB

In [ ]:
## ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
## EDA Examples #Find the duplicates
## ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

import pandas as pd

#Load the data
df = pd.read_csv('/content/sample_data/UNIT3LVADSAIEMPDATAv1.csv')
#Find the duplicates
df.duplicated().sum() ## Number of duplicate rows in the given data set

20

In [ ]:
## ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
## EDA Examples #unique values
## ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

import pandas as pd

#Load the data
df = pd.read_csv('/content/sample_data/DSAILVAORDERDATACSVv1.csv')
#unique values

#df.describe()
df.dtypes

#df['CID'].unique() ## Why we are getting this error
#df['PID'].unique() ## List Unique Values
#df['OID'].unique()
#df['ODATE'].unique()
#df['OQTY'].unique()
#df['OAMOUNT'].unique()
#df.isnull().sum() ## In Each Column, How Many Null Values
df['PID'].isnull() ## Flase= Not Null, True = Null

In [ ]:
## ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
## EDA Examples #countplot seaborn
## ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

#Load the required libraries
import pandas as pd
import seaborn as sns

#Load the data
df = pd.read_csv('/content/sample_data/DSAILVAORDERDATACSVv1.csv')
sns.countplot(df['OQTY'])

In [ ]:
## ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
## EDA Examples #Replace null values
## ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
import pandas as pd
import numpy as np
#Load the data
df = pd.read_csv('/content/sample_data/DSAILVAORDERDATACSVv1.csv')
#Replace null values
df.replace(np.nan,'VAL IS MISSING',inplace = True)
#print(df)
#Check the changes now
df.isnull().sum()

In [ ]:
## ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
## EDA Examples ## Filter the Data
## ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
import pandas as pd
import numpy as np
#Load the data
df = pd.read_csv('/content/sample_data/DSAILVAORDERDATACSVv1.csv')
#Replace null values
df[df['PID']=='Laptop'].head()
#df[df['PID']=='Desktop'].head()
#df[df['PID']=='Printer'].head()

In [ ]:
## ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
## EDA Examples ## Boxplot
## ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
import pandas as pd
import numpy as np
#Load the data
df = pd.read_csv('/content/sample_data/DSAILVAORDERDATACSVv1.csv')
#Boxplot
df[['OAMOUNT']].boxplot()

In [ ]:
## ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
## EDA Examples #Correlation
## ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
import pandas as pd
import numpy as np
#Load the data
df = pd.read_csv('/content/sample_data/DSAILVAORDERDATACSVv4.csv')
df.shape
#Correlation
df.corr()
# This is the correlation matrix with the range from +1 to -1
# where +1 is highly and positively correlated and -1 will be highly negatively correlated.

In [ ]:
## ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
## EDA Examples #Univariate Analysis
## ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# 1. Summary statistics – Measures the center and spread of values.
# 2. Frequency table – Describes how often different values occur.
# 3. Charts – Used to visualize the distribution of values.
## ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#create DataFrame
df = pd.DataFrame({'Spend': [1, 1, 2, 3.5, 4, 4, 4, 5, 5, 6.5, 7, 7.4, 8, 13, 14.2],
                   'BonusPoints': [5, 7, 7, 9, 12, 9, 9, 4, 6, 8, 8, 9, 3, 2, 6],
                   'Discount': [11, 8, 10, 6, 6, 5, 9, 12, 6, 6, 7, 8, 7, 9, 15]})

#view first five rows of DataFrame
#print(df.head())
## ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
##1. Calculate Summary Statistics
## ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#print('Mean = ', df['Spend'].mean())
#print('Median = ', df['Spend'].median())
#print('STD = ', df['Spend'].std())
## ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#create frequency table for 'points'
## ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
df['Spend'].value_counts()
## ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Charts – Used to visualize the distribution of values.
# Boxplot
# Histogram
# Density curve
## ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#df.boxplot(column=['Spend'], grid=False, color='black')
#df.hist(column='Spend', grid=False, edgecolor='black')
sns.kdeplot(df['Spend'])

In [ ]:
## ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
## EDA Examples # Bivariate Analysis
## ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#  Bivariate analysis refers to the analysis of two variables.
#  You can remember this because the prefix “bi” means “two.”
# 1. Scatterplots - common ways
# 2. Correlation Coefficients - common ways
# 3. Simple Linear Regression - common ways
## ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.api as sm

#create DataFrame
df = pd.DataFrame({'WORKOUT_HOURS': [1, 1, 1, 2, 2, 2, 3, 3, 3, 3,
                             3, 4, 4, 5, 5, 6, 6, 6, 7, 8],
                   'CALORIES_BURNED': [75, 66, 68, 74, 78, 72, 85, 82, 90, 82,
                             80, 88, 85, 90, 92, 94, 94, 88, 91, 96]})

#view first five rows of DataFrame
#~~~~~~~~~~~~~~
#create scatterplot of WORKOUT_HOURS vs. CALORIES_BURNED
#~~~~~~~~~~~~~~
#plt.scatter(df.WORKOUT_HOURS, df.CALORIES_BURNED)
#plt.title('WORKOUT_HOURS vs. CALORIES_BURNED')
#plt.xlabel('WORKOUT_HOURS')
#plt.ylabel('CALORIES_BURNED')
#~~~~~~~~~~~~~~
#create correlation matrix
#~~~~~~~~~~~~~~
df.corr()
## The correlation coefficient is 0.891.
## This indicates a strong positive correlation between WORKOUT_HOURS and CALORIES_BURNED.
#~~~~~~~~~~~~~~
# Simple Linear Regression
# A statistical method we can use to quantify the relationship between two variables.
#~~~~~~~~~~~~~~
#define response variable # Output
y = df['CALORIES_BURNED']
#define explanatory variable # Input
x = df[['WORKOUT_HOURS']]
#add constant to predictor variables
x = sm.add_constant(x)
#fit linear regression model
model = sm.OLS(y, x).fit()
#view model summary
print(model.summary())
#~~~~~~~~~~~~~~
#CALORIES_BURNED = 69.0734 + 3.8471*(WORKOUT_HOURS)
# Each additional WORKOUT_HOURS is associated with an average increase of 3.8471 CALORIES_BURNED.
#~~~~~~~~~~~~~~

                            OLS Regression Results
==============================================================================
Dep. Variable:        CALORIES_BURNED   R-squared:                       0.794
Model:                            OLS   Adj. R-squared:                  0.783
Method:                 Least Squares   F-statistic:                     69.56
Date:                Mon, 18 Mar 2024   Prob (F-statistic):           1.35e-07
Time:                        06:57:34   Log-Likelihood:                -55.886
No. Observations:                  20   AIC:                             115.8
Df Residuals:                      18   BIC:                             117.8
Df Model:                           1
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
const            69.0734      1.965     35.149      0.000      64.945      73.202
WORKOUT_HOURS     3.8471      0.461      8.340      0.000       2.878       4.816
==============================================================================
Omnibus:                        0.171   Durbin-Watson:                   1.404
Prob(Omnibus):                  0.918   Jarque-Bera (JB):                0.177
Skew:                           0.165   Prob(JB):                        0.915
Kurtosis:                       2.679   Cond. No.                         9.37
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [ ]:
## ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
## EDA Examples #Correlation plot
## ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
import pandas as pd
import numpy as np
import seaborn as sns
#Load the data
df = pd.read_csv('/content/sample_data/DSAILVAORDERDATACSVv2.csv')
df.shape
#Correlation plot
#sns.heatmap(df.corr())

In [ ]:
## ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
## EDA Examples #multivariate analysis using a correlation matrix plot.
## ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings as wr
wr.filterwarnings('ignore')

#Load the data
df = pd.read_csv('/content/sample_data/DSAILVAORDERDATACSVv3.csv')

# Assuming 'df' is your DataFrame
plt.figure(figsize=(15, 10))

# Using Seaborn to create a heatmap
sns.heatmap(df.corr(), annot=True, fmt='.4f', cmap='Pastel2', linewidths=4)

plt.title('Correlation Heatmap')
plt.show()

In [ ]:
## ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
## EDA Examples #multivariate analysis using a correlation matrix plot.
## ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings as wr
wr.filterwarnings('ignore')

#Load the data
df = pd.read_csv('/content/sample_data/DSAILVAORDERDATACSVv2.csv')
#plotting box plot between alcohol and quality
sns.boxplot(x='OID', y='OQTY', data=df)